.msg {
    margin: 20px;
    padding: 5px;
    border: 2px solid gray;
    background-color: lightgrey;
    border-radius: 10%;
    width: fit-content;
}

.opposite-message {
    margin-left: 25px;
    margin-right: auto;
}

.own-message {
    margin-left: auto;
    margin-right: 25px;
}