<div class="container" style="height: 10000px">
    <div class="header">
        <div class="social-buttons">
            <!-- https://www.facebook.com/sharer/sharer.php?u={{url}}
             https://twitter.com/intent/tweet?url={{url}}&text={{text}}
             https://www.linkedin.com/shareArticle?mini=true&url={{url}}
            -->
            <a href="https://google.com" target="_blank" class="instagram" aria-label="Share on Instagram">
                <fa-icon [icon]="faInstagram"></fa-icon> </a>
            <a href="https://google.com" target="_blank" class="twitter" aria-label="Share on Twitter">
                <fa-icon [icon]="faTwitter"></fa-icon> </a>
            <a href="https://google.com" target="_blank" class="linkedin" aria-label="Share on LinkedIn">
                <fa-icon [icon]="faLinkedIn"></fa-icon> </a>
            <a href="https://google.com" target="_blank" class="github" aria-label="Share on LinkedIn">
                <fa-icon [icon]="faGithub"></fa-icon> </a>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="welcome col-10">
                <h1>Willkommen</h1>
                <div class="introduction-text">
                    Ich bin <span class="owner-name">Niklas König.</span> <br>

                    <om-typewriter class="text-job" [words]="words"></om-typewriter>
                </div>
            </div>
            <div class="col-2">
                <button class="btn sidebar-menu" (click)="scroll(home)">
                    Home
                </button>
                <button class="btn sidebar-menu" (click)="scroll(skills)">
                    Skills
                </button>
                <button class="btn sidebar-menu" (click)="scroll(cv)">
                    CV
                </button>
                <button class="btn sidebar-menu" (click)="scroll(contact)">
                    Contact
                </button>
                <!-- <app-sidebar [pages]="pages" (pageSelectedEvent)="scroll($event)"></app-sidebar> -->
            </div>
        </div>
        <div class="info-block" style="position: absolute; top: 2000px" #home>
            <div class="info-block-divider"></div>
        </div>
        <div class="info-block" style="position: absolute; top: 3000px" #skills>
            <div class="info-block-divider"></div>
            <div class="text">
                C#, Angular, Docker, Git, Bootstrap
            </div>
        </div>
        <div class="info-block" style="position: absolute; top: 4000px" #cv>
            <div class="info-block-divider"></div>
        </div>
        <div class="info-block" style="position: absolute; top: 5000px" #contact>
            <div class="info-block-divider"></div>

        </div>
    </div>

    <div #target style="position: absolute; top: 6000px">bla</div>
</div>